@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, * :before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1 {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  background-color: #0F0F0F;
  color: #fff;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin: 60px 0 0 0;
}
.header__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}
.header__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.33%;
          flex: 0 1 28.33%;
}
.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.08%;
          flex: 0 1 37.08%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__menu a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 5px 0;
  color: #fff;
}
.header__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.58%;
          flex: 0 1 34.58%;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 58px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}
.header__btn:hover {
  background-color: #fff;
  color: #0F0F0F;
}
@media (max-width: 900px) {
  .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 18px 0 0 0;
    width: 100%;
    background-color: #fff;
    color: #0F0F0F;
  }
}

@media (max-width: 600px) {
  .header {
    margin: 30px 0 0 0;
  }
}
.main {
  margin: 100px 0 0 0;
}
.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.33%;
          flex: 0 0 28.33%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin-top: 510px;
  -webkit-animation-name: social;
          animation-name: social;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.main__social a {
  margin: 0 0 0 5%;
  color: #fff;
}
.main__social a:first-child {
  margin: 0;
}
@-webkit-keyframes social {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes social {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.main__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.083%;
          flex: 0 1 37.083%;
}
.main__subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.415%;
          flex: 0 1 34.415%;
  position: relative;
  top: 100px;
  left: 10px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  -webkit-animation-name: subtitle;
          animation-name: subtitle;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes subtitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes subtitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@media (max-width: 1200px) {
  .main__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  .main__subtitle {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .main__social {
    display: none;
  }
  .main__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 600px) {
  .main__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .main {
    max-width: 80px 0 0 0;
  }
}
.title {
  position: relative;
}
.title_bg {
  background: url(/img/1.png) no-repeat;
  width: 100%;
  height: 600px;
  position: relative;
  -webkit-animation-name: bg;
          animation-name: bg;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes bg {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes bg {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.title__text {
  position: absolute;
  top: 35px;
  left: 0;
  font-weight: 500;
  font-size: 250px;
  line-height: 305px;
  letter-spacing: -0.05em;
  -webkit-animation-name: text;
          animation-name: text;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@-webkit-keyframes text {
  0% {
    left: -500%;
  }
  100% {
    left: 0;
  }
}
@keyframes text {
  0% {
    left: -500%;
  }
  100% {
    left: 0;
  }
}
@media (max-width: 1200px) {
  .title__text {
    font-size: 200px;
  }
}
@media (max-width: 700px) {
  .title__text {
    font-size: 150px;
  }
}
@media (max-width: 600px) {
  .title__text {
    font-size: 100px;
    left: auto;
  }
}
.objects {
  position: relative;
  margin: 0 0 180px 0;
}
.objects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}
.objects__title {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.33%;
          flex: 0 1 29.33%;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
}
.objects__slider {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 71.56%;
          flex: 0 1 71.56%;
}
@media (max-width: 600px) {
  .objects__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .objects__title {
    margin-bottom: 15px;
  }
}
.slider {
  min-width: 0;
}
.slider__row {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__img {
  height: 623px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
  margin: 0 30px 0 0;
}
.slider__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
  height: 100%;
}
@media (max-width: 600px) {
  .slider__row {
    display: block;
  }
  .slider__img {
    height: 600px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-width: 0;
    margin: 0;
  }
  .slider__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.body__row {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__title {
  min-width: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
}
.body__text {
  min-width: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.body__btn {
  min-width: 0;
  border-top: 2px solid #fff;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-right: 5px;
  text-align: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.body__btn a {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #fff;
}
.body__btn::after {
  content: "";
  position: relative;
  top: 3px;
  left: 0;
  display: inline-block;
  width: 17px;
  height: 20px;
  background: url(/img/icons/2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.body__btn:hover {
  background-color: #F1F1F1;
}
.body__btn:hover a {
  color: #0F0F0F;
}
.body__btn:hover::after {
  background: url(/img/icons/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 600px) {
  .body__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .body__text {
    margin: 10px 0 10px 0;
  }
  .body__title {
    margin-top: 15px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
}

.slick-dots li {
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 0 27px 0 0;
}

.slick-dots li.slick-active {
  background-color: #fff;
}

.slick-dots li button {
  background-color: transparent;
}
@media (max-width: 950px) {
  .slick-dots li {
    height: 30px;
    width: 30px;
    margin: 0 20px 0 0;
    line-height: 28px;
  }
}
@media (max-width: 690px) {
  .slick-dots li {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 600px) {
  .slick-dots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    text-align: center;
  }
  .slick-dots li {
    height: 60px;
    width: 60px;
    line-height: 58px;
    margin: 0 20px 0 0;
    font-size: 24px;
  }

  .slick-dots li button {
    font-size: 24px;
  }
}
.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.33%;
          flex: 0 1 29.33%;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
}
.services__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 71.56%;
          flex: 0 1 71.56%;
}
@media (max-width: 600px) {
  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__title {
    margin-bottom: 30px;
  }
}
.list__item {
  margin: 0 0 45px 0;
  -webkit-transition: all 3s;
  transition: all 3s;
}
.list__item:hover div {
  -webkit-transition: all 1s;
  transition: all 1s;
  display: block;
  opacity: 100;
}
.list__body {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.list__header {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  line-height: 60px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media (max-width: 600px) {
  .list__header {
    font-size: 20px;
    line-height: 40px;
  }
}
.info {
  margin: 80px 0 80px 0;
}
.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.33%;
          flex: 0 1 29.33%;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.info__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30.08%;
          flex: 0 1 30.08%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin: 0 8% 0 0;
  margin-bottom: 20px;
}
.info__numbers {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.58%;
          flex: 0 1 34.58%;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 20px;
}
.info__numbers span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
@media (max-width: 600px) {
  .info__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.numbers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.footer {
  min-height: 360px;
  background-color: #F1F1F1;
}
.footer__row {
  padding: 120px 0 0 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.footer__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.footer__menu a {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #0F0F0F;
  text-align: left;
}
.footer__contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.footer__contact a {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #0F0F0F;
  text-align: right;
}
.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.footer__social a {
  text-align: right;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #0F0F0F;
}
@media (max-width: 600px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0 50px 0;
  }
  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 20px;
  }
  .footer__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 20px;
  }
  .footer__menu a {
    text-align: center;
  }
  .footer__contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 20px;
  }
  .footer__contact a {
    text-align: center;
  }
  .footer__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .footer__social a {
    text-align: center;
  }
}